body{
    margin: 0px;
}


.layout-page{
    position: relative;
    color: "#232129";
    margin: 0 24px; 
} 
a{
    color: black;
    text-decoration: none;
}

h1{ 
    font-size: var(--font-lg);
}

ul{
    list-style-type: none; 
    padding: 0px;
}

.navbar{
    position: relative;
    float: left;
    max-width: 375px;
    margin-right: 16px;
    padding: 16px;
}

.navbar::after{
    background: linear-gradient(180deg,#e6e6e6 0,#e6e6e6 48%,#fff);
    position: absolute;
    content: "";
    width: .0625rem;
    height: 33.75rem;
    top: 16px;
    right: -10px;
    bottom: 0;
}

.profile{
    height: 75px;
    width: 75px; 
    img{
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%; 
    }
}

.profile-description{
    color: #888
}

.toggle-arrow{
    position: relative;
} 
.toggle-arrow::after{
    width: 5px;
    height: 5px;
    content: "";
    position: absolute;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transition: 0.5s ease-out 0s;
    transform: rotate( 45deg);
    top: 5px;
    left: -15px;
} 
.toggle-arrow-active::after{ 
    transform: rotate( 135deg );
    top: 4px;
}

.profile-link{
    li :hover{
        color: #5d93ff;
        text-decoration: underline;
    }
    
    li{
        margin-bottom: 16px;  
    }
    .nomargin{
        margin-bottom: 0px;  
    }
    
    
    .sub-profile-link-container{ 
        overflow: hidden;
    }  

    .sub-profile-link{
        padding-top: 16px;
        transition: 0.5s ease-in-out 0s; 
        overflow: hidden;
        margin-left: 16px;
        li{
            margin-bottom: 4px;
        }    
        
    }  

    .show{
        transform: translateY(0px);
    }
    .hide{
        transform: translateY(-100px);
    } 

    .page-selected{
        font-weight: 700;
        text-decoration: underline;
    }
 
}

.social-media{
    display: flex;
    flex-direction: row;
    li{
        display: flex;
        margin-right:16px; 
        border: 1px solid #ebebeb;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        font-size: 12px; 
    } 
    li:hover{ 
        border: 1px solid #5d93ff; 
    } 
    .fb{ 
        background: url(../icon/fb.svg); 
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .fb:hover{
        background: url(../icon/fb-active.svg); 
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
     } 
    .twitter{ 
        background: url(../icon/twitter.svg); 
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .twitter:hover{
        background: url(../icon/twitter-active.svg); 
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
     } 
    .git{ 
        background: url(../icon/git.svg); 
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .git:hover{
        background: url(../icon/git-active.svg); 
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
     } 
    .linkedin{ 
        background: url(../icon/linkedin.svg); 
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .linkedin:hover{
        background: url(../icon/linkedin-active.svg); 
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
     } 
}

.footer{
    font-size: 14px;
    color: #b6b6b6;
}

.view-port{ 
    display: flex;
    position: relative; 
    padding: 16px; 
}

.slide-up-enter { 
    opacity: 0; 
    transform: translateY(-100px); 
}
.slide-up-enter-active { 
    opacity: 1; 
    transform: translateY(0px); 
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0) ,transform 300ms;
}
.slide-up-exit {
    opacity: 1;
}
.slide-up-exit-active {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 300ms, transform 300ms;
}

.slide-down-enter { 
    opacity: 0; 
    transform: translateY(100px); 
}
.slide-down-enter-active {
    opacity: 1; 
    transform: translateY(0px); 
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0) ,transform 300ms;
}
.slide-down-exit {
    opacity: 1;
}
.slide-down-exit-active {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 300ms, transform 300ms;
} 