.blog{ 
    .blog-container{
        position: relative;
        .blog-header{
            .title{
                display: inline-block;
                font-size: var(--font-xxl);
            }
            .date{
                font-size: var(--font-xxs);
                display: inline-block;
                color: #b6b6b6;
            }
        } 
        .blog-content{ 
            position: relative;
            max-height: 80px;
            overflow: hidden;
            margin-bottom: 16px;
            div{
                margin-bottom: 16px;
            }
        }
        .blog-header::after{  
            position: absolute;
            content: "";
            bottom: 20px;
            left: 0px;
            background: linear-gradient(rgba(255, 255, 255, 0), white);
            width: 100vw;
            height: 35px;
            z-index: 1; 
        } 
        .date{
            font-size: var(--font-xxs);
            display: inline-block;
            color: #b6b6b6;
        }

    }
    
}